/* Resetando margens e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo o estilo para o body */
body {
    font-family: Arial, sans-serif;
    background-color: #F0F8FF;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container centralizado */
.container {
    width: 100%;
    max-width: 600px;
    padding: 2em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para o título */
#titulo {
    font-size: 2em;
    text-align: center;
    color: #000;
}

/* Estilo para o subtítulo */
#subtitulo {
    text-align: center;
    color: #FF69B4;
    font-size: 1.2em;
    margin-bottom: 2em;
}

/* Estilo do campo do formulário */
.campo {
    margin-bottom: 1.5em;
}

.campo label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5em;
}

.campo input, .campo select, .campo textarea {
    width: 100%;
    padding: 0.8em;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Efeito no foco de inputs */
.campo input:focus, .campo select:focus, .campo textarea:focus {
    border-color: #FF69B4;
    background-color: #f8f8f8;
}

/* Estilo para o botão */
.botao {
    width: 100%;
    padding: 0.8em;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 1.1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 1.5em;
}

.botao:hover {
    background-color: #CCBBFF;
    transform: scale(1.05);
}

.botao:active {
    background-color: #AA88FF;
}

/* Estilo para o campo de tecnologias */
.grupo {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
}

.grupo label {
    flex: 1 1 45%;
    margin-bottom: 0.5em;
}

/* Estilo do campo de experiência */
textarea {
    resize: vertical;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: #333;
    background-color: #f8f8f8;
}
